/*
Theme Name: TEMA CURSO WP
Text Domain: enguillem.com
Version: 1.8
Requires at least: 4.7
Requires PHP: 5.2.4
Description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum aspernatur molestiae laborum voluptate accusamus! Quos totam pariatur amet, fuga veritatis cupiditate in, quas quia dicta error eligendi eos. Dolores officiis deserunt eaque quasi quaerat, delectus voluptatum saepe molestiae assumenda omnis accusantium. Illum fugit accusantium expedita.
Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-patterns, block-styles, wide-blocks, accessibility-ready
Author: the WordPress team
Author URI: https://enguillem.com/
Theme URI: https://wordpress.org/themes/tema_curso_wp/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

All files, unless otherwise stated, are released under the GNU General Public
License version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
*/


:root{
    --main-color:rgb(226,112,5);
    --body-background:rgb(243,182,124);
    --active-menu:rgb(77, 39, 5);
    --text-color:rgb(53,19,4);
    --text-light-color:rgb(247,161,82);
}

body{
    background-color: var(--body-background);
}

ul{
    list-style: none;
}

.menunav{
    background: var(--main-color);
}




a,a:link,a:visited,a:active{
    text-decoration: none;
}

.container a{
    display: block;

}

.container a:hover{
    color:var(--text-color-hover);
    background: var(--backgroud-color-hover);
}


.navbar {
    background-color:var(--main-color);
}

.navbar-light .navbar-nav .nav-link{
    color: var(--text-color);

}

.dropdown-menu{
    background-color: var(--main-color);
}

.dropdown-menu a{
    color:var(--text-color);

}


.jumbotron{
    color: var(--text-light-color);
    height: 400px;
}

.jumbo-front{
    background-image: url(inc/img/jumbo-front.png);
    background-repeat: no-repeat;
}
.jumbo-botiga{
    background-image: url(inc/img/jumbo-botiga.png);
    background-repeat: no-repeat;
}

.jumbo-samarretes{
    background-image: url(inc/img/jumbo-samarreta.png);
    background-repeat: no-repeat;
}

.jumbo-texans{
    background-image: url(inc/img/jumbo-jeans.png);
    background-repeat: no-repeat;

}


.container img{
    width: 100%;
}


footer{
    background-color: var(--main-color);
    padding-top: 15px;
    padding-bottom: 50px;
    margin-top: 40px;
}

footer .link{
    text-align: center;
}

footer .link a{
    color: var(--text-color);
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail{
    max-width: 100%;
    height: auto;
}